/* Browser resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color Palette */
  /*Primary Colors*/
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  /*Secondary Colors*/
  --red: hsl(0, 87%, 67%);

  /*Neutral Colors*/
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(225, 32%, 95%);
}

#page-wrapper {
  width: 1110px;
  margin: 0 auto;
}

button {
  font-family: inherit;
}

.large-button {
  font-weight: 700;
  font-size: 20px;
  line-height: auto;
  letter-spacing: 0;
}

.footer-nav-button {
  font-weight: 500;
  font-size: 15px;
  line-height: auto;
  letter-spacing: -0.23px;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
}

h3 {
  font-size: 22px;
  line-height: auto;
  letter-spacing: 0;
}

h4 {
  font-size: 16px;
  line-height: auto;
  letter-spacing: -0.25px;
}

p {
  font-weight: 500;
}

.p-hero {
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.p-section {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.12px;
}

.p-media {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0;
}

input::placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
}

#header-nav {
  display: flex;
  overflow: hidden;
  padding-top: 48px;
  align-items: center;
}

#header-nav-logo {
  margin-right: 45.43px;
}

#nav-pages-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.hdr-nav-btn {
  font-weight: 700;
  font-size: 15px;
  line-height: auto;
  letter-spacing: 0;
  cursor: pointer;
  border: none;
}

.btn--text {
  color: var(--grayish-violet);
  background: none;
}

.btn--small {
  padding: 9px 23px 8px 24px;
}

.btn--rounded {
  background-color: var(--cyan);
  color: white;
  border-radius: 28px;
}

.btn--rounded:active {
  opacity: 0.5;
}

.btn--text:active {
  color: var(--very-dark-blue);
}

#nav-auth-list {
  display: flex;
  list-style-type: none;
  gap: 37px;
  margin-left: auto;
  align-items: center;
}

#hero-background {
  position: relative;
  z-index: 0;
}

#hero-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: white;
  z-index: -1;
}
